/* p{
    color: red;
    font-size: 25px;
}
.jk{
    color: pink;
}
#jk1{
    color: brown;
}
div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    align-content: center;
    padding: 5px;
    margin: 10px 200px;
    border: 5px solid red;
}



 h2{
    text-align: center;

 }
 div{
    align-content: center;
    height: 200;
    width: 500;
    border: 5px solid black;

 }
  

 span{
    display: block;
 }


 .container{
    border: 2px solid black;
    width: 730px;
 }

 .box1{
    background-color: rgb(143, 143, 36);
    height: 300px;
    width: 200px;
    margin: 20px;
 }

 .box2{
    background-color: rgb(133, 35, 35);
    height: 300px;
    width: 200px;
    margin: 20px;
 }

 .box3{
    background-color: rgb(150, 196, 219);
    height: 300px;
    width: 200px;
    margin: 20px;
 }

.box{
    display: inline-block;
    align-items: center;
}


.container{
    background-color: pink;
    border: 2px solid black;
    height: 340px;
    width: 900px;
    padding: 20px;
}

.image{
    width: 300px;
    float: left;
    margin: 10px;
} */


.container{
    background-color: pink;
    border: 2px solid black;
    height: 340px;
    width: 650px;
    padding: 20px;
}

.image{
    width: 300px;
    float: left;
    margin: 10px;

    .footer{
        clear: both;
        background-color: lightgray;;
    }