p{
    color: red;
    font-size: 25px;
}
.jk{
    color: pink;
}
#jk1{
    color: brown;
}
div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    text-align: center;
    align-content: center;
    padding: 5px;
    margin: 10px 200px;
    border: 5px solid red;
}



 /* h2{
    text-align: center;

 }
 div{
    align-content: center;
    height: 200;
    width: 500;
    border: 5px solid black;

 } */
  

 