.ab{
    border: 3px solid black;
    width: 1100px;       
    margin: 20px auto; 
}
.b{
    margin: 20px;
    border: 30px solid blue;
    background-color: yellow;
    height: 150px;
    align-content: center;
}
.c{
    
    text-align: center;
}